<!-- AJax for DropDown Effect of Abstract and BibTex -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
	var str =$(this).attr('id');

    $(".btnId").click(function(){
        var str = $(this).attr('id');
		var ret = str.split("_");
		var id = ret[1];
		$('#' + id).toggle();
    });
});
</script>

<!-- htmlwidgets dependencies -->
<!--
{% assign dep_file = page.url | split: '/' | last | prepend: 'htmlwidgets/' | append: '.html' %}
{% assign dep_file_inc = dep_file | prepend : '_includes/' %}
{% capture hw_used %}{% file_exists {{ dep_file_inc }} %}{% endcapture %}

{% if hw_used == "true" %}
{% include {{dep_file}} %}
{% endif %} -->
