.katex { font-size: 1em; }

/* Badges */

a {
  text-decoration: none;
}

.quarto-title-meta-contents
.quarto-title-meta-buttons
a {
  color: white !important;
} 

ul, .publication-list {
  padding-left: 1rem;
}

