::: {.list .quarto-listing-custom}

<% for (const item of items) { %>

::: {.quarto-post <%= metadataAttrs(item) %>}

::: {.metadata}

```{=html}
<a href="<%- item.path %>" class="no-external">
```

<% if (item.date) { %>
<div class="listing-date"><%= item.date %></div>
<% } %>

```{=html}
</a>
```

:::

::: {.body}


<% if (item.description) { %>

```{=html}
<div class="delink listing-description">
```

<%= item.description %>

```{=html}
</div>
```

<% } %>

:::

:::


<% } %>

:::
