.caption {
  color: grey;
}

.navbar-brand {
  text-transform: capitalize !important;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

html {
  font-size: 18px;
}

#navbar-main {
  background: DimGray !important;
}
