---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  font-size: 14px; // change to whatever

  @include breakpoint($medium) {
    font-size: 16px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 18px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 20px; // change to whatever
  }
}

$abstract-color                : #009628 !default;  
$BibTex-color                  : #b201a6 !default;  
$download-color                : #b51b00 !default;  
$supplement-color              : #abb500 !default;   
   
.center-image
{
    margin: 0 auto;
    display: block;
}  

.btnId {
    margin-top: 0.5em;
}
   
.dropDownAbstract{
	font-size: $type-size-8;
	display: none; 
	position: relative;
	border-left: 3px solid $primary-color; 
	padding-left: 3px
}
   
.dropDownBibtex{
	font-size: $type-size-8;
	display:none; 
	position:relative;
}