---
---
{{reference | replace_first: 'Larsson, J.', '<b>Larsson, J.</b>' | replace_first: 'Johan Larsson', '<b>Johan Larsson</b>' | replace_first: 'Larsson, Johan', '<b>Larsson, Johan</b>', | replace_first: 'J Larsson', '<b>J Larsson</b>' | replace_first: 'J. Larsson', '<b>J. Larsson</b>'}}

    <br>

	<button class="btn btn--primary btn--small btnId btnPub--BibTex" id="b_{{key}}-bibtex" style="outline:none;">BibTeX</button>

    {% if entry.abstract %}
    <button class="btn btn--success btn--small btnId btnPub--abstract" id="b_{{key}}-abstract" style="outline:none;">Abstract</button>
    {% endif %}
    
    {% if link %}
	<a href="{{link}}"><button class="btn btn--warning btn--small btnId btnPub--download" style="outline:none; position:relative;white-space: normal;">PDF</button></a>
    {% endif %}
	
	{% if links['sup.pdf'] %}
	<a href="{{links['sup.pdf']}}"><button class="btn btn--danger btn--small btnId btnPub--supplement" style="outline:none; position:relative;white-space: normal;">Supplement</button></a>
    {% endif %}

    {% if entry.doi %}
	<a href="https://doi.org/{{entry.doi]}}"><button class="btn btn--info btn--small btnId btnPub--url" style="outline:none; position:relative;white-space: normal;">URL</button></a>
	{% elsif entry.url %}
	<a href="{{entry.url]}}"><button class="btn btn--info btn--small btnId btnPub--url" style="outline:none; position:relative;white-space: normal;">URL</button></a>
    {% endif %}


	<div class="dropDownBibtex" id="{{key}}-bibtex">
    <pre>{{entry.bibtex}}</pre>
    </div>
	
	
	<div class="dropDownAbstract" id="{{key}}-abstract">
    {{entry.abstract}}
    </div>
	